#taskcard{
    width: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    color: black;
border: 1px solid rgba(128, 128, 128, 0.39);
background-color: white;

}

#task-card-text{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
}
#task-card-text>h5,p{
    margin: 0;
    padding: 0;
    
}
#task-card-text>p{
    font-size: 0.7rem;
}
#task-card-text>h5{
    font-size: clamp(1rem, 0.94rem + 0.48vw, 1.3rem);
}
#task-card-btns{
    
    width: 100%;
    display: flex;
    gap: 1vw;
justify-content: space-between;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 40%; */
    cursor: pointer;
    padding:  clamp(0.4375rem, 0.4rem + 0.3vw, 0.625rem);
    background-color: #2F2B43;
    color: white;
    font-weight: 1000;
    border-radius: 15px;
    border: none;
}
.btns>i{
    font-size: clamp(0.7rem, 0.64rem + 0.48vw, 1rem);
    color: white;
    font-weight: 1000;

}
#duedate{
    height: 100%;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
#duedate{
    font-size: clamp(0.5rem, 0.44rem + 0.48vw, 0.8rem);

    margin: 0;
    padding: 0;
}
#btns-box{
width: max-content;
    height: 100%;
    display: flex;
    gap: 0.5vw;
    justify-content: center;
}
