html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
background-color: #F6F6F6;
  height: 100vh;
}
@font-face {
  font-family: baynois;
  src: url(./assets/Font/baynois-regular.otf);
}
@font-face {
  font-family: mano-sansserif;
  src: url(./assets/Font/MonaSans/OTF/Mona-Sans-LightWide.otf);
}
#root {
width: 100%;
height: 100%;
display: flex;
align-items: center; 
justify-content: center;
font-family: gilroy;
 
}
#main{
background-color: #2F2B43;
display: flex;
justify-content: center;
align-items: center;
  width: 100%;
  height:100%;
}

.container{
    font-family: mona-heading;

  border-radius: 25px;
  padding: 10px 30px;
  /* background-color: white; */
  color: black;
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  text-align: center;
}
 .inputs{
  background-color: #EAF0F7;
  color: black;
  /* border: 1px solid rgba(0, 0, 0, 0.719); */
  border-radius:10px;
  border: none;
  width:100%;
  
  /* width:  clamp(9.375rem, 4.6875rem + 25vw, 18.75rem); */
  padding: 20px;
  color: grey;
  font-weight: bold;
 }

 .login-btn{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: max-content;
  padding: 15px;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  background-color: #2F2B43;
 }
 .google-btn{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: max-content;
  padding: 10px;
  font-weight: 600;
  color: rgb(102, 100, 100);
  font-size: 1rem;
  border: 1px solid lightgray;
 }
 .container>h1{
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-wrap: break-word;
  font-size: clamp(1rem, 0.225rem + 2.2vw, 1.875rem);
}
.google-btn>img{
  width:2rem;
}

#hero{
  font-family: mona-heading;
  border-radius: 10px;
  width:95%;
  display: flex;
  align-items: center;
background-color: whitesmoke;
  height: max-content;
align-items: center;
margin: auto;
  gap: 1vw;
  padding:40px;
}
#change-form{
  text-decoration: none;
  color: blue;

}
#hero-form{
margin: auto;

  margin: 0;
  padding: 0;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#heartimg{
  opacity: 0.8;
  width: 10%;
  top: 10%;
  left: 57%;
  position: absolute;
}
#hero-content{
margin: auto;
  font-weight: 500;
  z-index: 40;
  display: flex;  
  text-align: left;
  align-items: center;
  justify-content: center ;
  height: 100%;
  width: 60%;
}
#hero-text{
  margin-top: -10vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48%;
  height: max-content;
  padding: 10px;
  
}
#hero-text>p{
  overflow-wrap: break-word;
  width: 100%;
margin: 0;

padding: 0;
  
  z-index: 100;
  font-size: clamp(0.6rem, 0.3rem + 0.8vw, 1rem);
  
}
#hairy{
  width: clamp(10rem, 5.8rem + 33.6vw, 33rem);

}
#hero-image{
  z-index: 100;
  width: max-content;
  height: max-content;
  object-fit: contain;
  animation-duration: 1s;
  animation-timing-function:ease-out;
  
}

#hero-text>h1{
  width: 100%;
  font-family: baynois;
  margin: 0;
  padding: 0;
  font-size: clamp(2rem, 1rem + 8vw, 7rem);   

}
#hero-text>h5{
  width: 100%;
  max-width: fit-content;
  padding: 0;
  height: 10%;
  margin: 0;
  font-weight: 1000;
  font-size: clamp(1rem, 0.9rem + 0.8vw, 1.5rem);
  overflow-wrap: break-word;
}


#signup{
  height: 100%;
  gap: 0.8vw;
}



@media only screen and (min-width: 100px) {
  html,body{
    width: 100%;
    height: max-content;
  }
  #root {
   height: max-content;
  }
#main{
  max-height: max-content;

  height: max-content;
}
  #hero{
    padding: 10px;
    flex-direction: column;
    margin: 5vh 0vw;
  height: max-content;
  max-height: max-content;

    width: 90%;
   
  }
  #hero-content{
    width: 100%;
    height: max-content;
    flex-direction: column;
    }
 #hero-text{
  width: 100%;
  margin: 0;
 }
 .container{
  width: 90%;
  padding: 10px;
 }
 #hero-form{
  margin: auto;
    margin: 0;
    padding: 0;
    width: 100%;
  
  }

  #heartimg{
    opacity: 0.8;
    width: 18%;
    top: 30%;
    left: 60%;
    position: absolute;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html,body{
    height: 100%;
  }
  #root {
   height: 100%;
  }
  #main{
    width: 100%;
    height: 100%;
  }
    #hero{
      flex-direction: row;
      margin: 0;
      height: 92%;
      width: 95%;
     
    }
    #hero-content{
      width: 70%;
      flex-direction: row;
      }
      #hero-form{
    width: 30%;

      }
      #heartimg{
        opacity: 0.8;
        width: 10%;
        top: 10%;
        left: 57%;
        position: absolute;
      }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra larg devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
